Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config/DefaultEngine.ini
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Logs/scarymansionnew.log
